.basketProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 80%;
    /* background-color: white; */
}

.basketProduct__info {
    padding-left: 20px;

}

.basketProduct__info > button {
    background:rgb(129, 184, 230);
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 10px;
    color:black;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.basketProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.basketProduct__rating {
    display: flex;
}

.basketProduct__title {
    font-size: 17px;
    font-weight: 800;
}