.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /* max-width: 5000px; */
    flex-wrap: wrap;
    width: 80%;
}



.home_row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 100%; */
    align-items: center;
}


.home_image {
    width: 80%;
    z-index: -5;
    margin-bottom: -100px;
    margin-top: 0;
  
  
    mask: 
        linear-gradient(to top,  transparent 10%, #fff 15% 90%, transparent 95%),
        linear-gradient(to left, transparent 5%, #fff 10% 90%, transparent 95%);
    mask-size: 110% 115%;
    mask-position: center;
    mask-repeat:no-repeat;
    mask-composite: intersect;
}
